#corel li {
    list-style-type: decimal;
}

.sli-h2 {
    background: #24C9ED;
    color: #fff !important;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 2em !important;
}

.lead {
    padding: 5px 10px;
    font-size: 1.4em !important;
}

.lead.one {
    background: #2a2d33;
    color: #24C9ED;
    width: 520px;
}
.lead.one:before, .lead.two:before, .lead.three:before {
    margin-right: 10px;
    font-family:FontAwesome;
    content: '\f10d';
    font-size: 1em;
}
.lead.one:after, .lead.two:after, .lead.three:after {
    margin-left: 10px;
    content: '\f10e';
    font-family:FontAwesome;
    font-size: 1em;
}

.lead.two {
    background: #2a2d33;
    color: #fff;
    width: 540px;
}

.lead.three {
    background: #fff;
    color: #2a2d33;
    width: 690px;
}