/*App*/
.app {
}

/*Fonts for the body*/

body {
    font-family: 'Source Serif Pro', serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Adamina', serif;
    font-size: 100%;
}

/*Container background color*/
/*.App{
    background-color: #0FC9F2;
}*/

/*PageTop*/

.nav {
    height: 40px;
    background-color: magenta;
}

.nav p {
    font-size: 13px;
    margin-top: 3px;
}

/*navbar*/

.navbar-nav {
    height: 50px;
}

/* getting the manu during hovering*/

dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*To Avoid Stcky Drop Down Menu*/
    pointer-events: none;
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
}

/*Removes the arrow from the drop down menu*/

.dropdown-toggle::after {
    content: none;
}

/*carousel captions styling*/

.carousel-item {
    height: 400px;
    position: relative;
    top: 0px;
}

/*.carousel-item{
    height: 400px;
    height:100vh;
    min-height:300px;
    background:no-repeat center center scroll;
    background-size:cover;

}*/

.carousel-caption p {
    padding-bottom: 150px;
    font-size: 24px;
}

.carousel-caption h5 {
    padding-bottom: 150px;
    font-size: 50px;
}

.servicehead {
    text-align: center;
    padding: 10px;
}

.summaryhead {
    text-align: center;
    padding: 10px;
}

.teamhead {
    text-align: center;
    padding: 10px;
}

.ftb {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.ftb p2 {
    float: right;
}

.footer-bottom .container p {
    text-align: center;
}

.jumbotron ul {
    text-align: left;
    list-style-type: none
}

.jumbotron img {
    height: 75px;
    width: 75px
}

/*Form*/

/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

form {
    left: 0px;
    right: 0px;
}

/*cards*/
.card{
    /*width: 500px;*/
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*Social Media*/

.social-wrapper p {
    text-align: center;
}

.social-wrapper  a i {
    margin-right: 10px;
}

.company-name-wrapper{
    text-align: center;
}
.contacts-wrapper{
    text-align: center;
}

/* Style all font awesome icons 
.fa {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
  }*/

/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

/* Setting a specific color for each social media */

/* Facebook 
  .fa-facebook-official {
    color: #3B5998;
  }
  */

/* Twitter 
  .fa-twitter-square {
    color: #979fa5;
  }*/

/* Instagram */

.fa-instagram {
    color: red;
}

/* Homecontact */

.last-footer-wrapper {
    text-align: center;
}