/*Fonts for the body*/

body {
    font-family: 'Source Serif Pro', serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Adamina', serif;
    font-size: 15px;
}

/*Root*/

.root {
    padding-left: 3px;
    padding-right: 3px;
    position: relative;
    min-height: 100vh;
}

.app {
    padding-bottom: 378px;
    /* display: flex;
    flex-direction: column;*/
}

/*Container background color*/

/*.App{
    background-color: #0FC9F2;
}*/

/*Index page*/

/*PageTop*/

.nav {
    height: 40px;
    background-color: magenta;
}

.nav p {
    font-size: 13px;
    margin-top: 3px;
}

/*navbar*/

.navbar navbar-expand-lg navbar-light bg-light sticky-top {
    background-color: #F2F2F2;
}

/* getting the manu during hovering*/

dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*To Avoid Stcky Drop Down Menu*/
    pointer-events: none;
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
}

/*Removes the arrow from the drop down menu*/

.dropdown-toggle::after {
    content: none;
}

/*navbar end*/

/*carousel captions styling*/



/*.carousel-item{
    height: 400px;
    height:100vh;
    min-height:300px;
    background:no-repeat center center scroll;
    background-size:cover;

}*/
.carousel-content{
    display:grid;
    place-items:center;
}

.carousel-caption{
    position: absolute;
    top: 50%;
}

.carousel-caption p{
    font-size: 1.3vw;
    /*Alpha value has been used set to 70*/
    display: inline-block;
    background-color:#120F5970;
}

.carousel-caption h1{
    font-size: 2.2vw;
    /*Alpha value has been used set to 70*/
    display: inline-block;
    background-color:#0FC9F270;
}

.carousel-item img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.servicehead {
    text-align: center;
    padding: 10px;
}

.service-wrapper {
    background-color: #0FC9F2;
}

.service-link{
    color: #0FC9F2;
}
.Land-consultation-services {
    margin-bottom: 100px;
}

.service {
    background-color: #F2F2F2;
}

/*service icons*/

/*.agri-icon {
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
    color: #0FC9F2;
}*/

.agri-icon {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #0FC9F2;
}

.business-icon {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #0FC9F2;
}

.Land-icon {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #0FC9F2;
}

/*about us*/
.summary{
    background-color: #F2F2F2;
    padding-bottom: 50px;
}

.summary-head {
    text-align: center;
    padding-top: 90px;
    margin-bottom: 50px;
}

.summary-content {
    text-align: left;
}

.image-content{
    overflow: hidden;
    width: 300px;
    height: 280px;
}

.aboutus-images{
    display: flex;
}

.aboutus-images img{
  width:100%;
  height:auto;
  display:block;
  object-fit: cover;
  object-position:center center;
  transform:skew(10deg);
  margin:0 -10%;
  overflow:hidden;
}

/*cards*/

.card-img-top {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.teamhead {
    text-align: center;
    padding: 10px;
}

.team-wrapper {
    background-color: #0FC9F2;
}

.card-deck {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 50px;
}

.card-body {
    background-color: #F2F2F2;
}

/*bottom-footer*/

.card-body {
    background-color: #F2F2F2;
}

/*bottom-footer*/

/*jumbotron*/

/*jumbotron*/

ul.footer-content-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    padding-top: 82px;
    text-align: center;
}

.footer-wrapper {
    color: #F2F2F2;
    background-color: #272C8C;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom-footer {
    background-color: #120F59;
    color: #F2F2F2;
    padding-top: 14px;
    border-top: 0.1px solid #F2F2F2;
    margin-bottom: 0px;
}

.social-a a {
    float: right;
}

.social-c a {
    float: left;
}

.contacts a {
    color: #F2F2F2;
}

.social a {
    color: #F2F2F2;
    padding-right: 10px;
}

.social i {
    /*color: #F2F2F2;*/
    padding-right: 10px;
}

.site-copy {
    text-align: center;
}

.site-by {
    text-align: center;
}

/*Social Media*/

.social {
    margin-bottom: 20px;
}

.social-wrapper p {
    text-align: center;
}

.social-wrapper a i {
    margin-right: 10px;
}

.company-name-wrapper {
    text-align: center;
}

.physical-address-wrapper {
    text-align: center;
}

.contacts-wrapper {
    text-align: center;
}

/*About page*/
.VMimage{
    height:600px
}

.VMimage img{
    width: 50%;
    height: auto;
    bott
}

.about {
    margin-bottom: 0px;
}

.visioncontent ul li p {
    padding-bottom: 0px;
}

.visioncontent ul {
    list-style-type: none;
}

/* Style all font awesome icons 
.fa {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
  }*/

/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    color: red;
}

/*About page*/

.about-content h4 {
    margin-top: 50px;
    margin-bottom: 15px;
}

/*services main page*/

.static-banner-content {
    margin-top: 100px;
    padding-bottom: 0px;
}

.static-banner {
    background-color: white;
}

.static-banner-content img {
    object-fit: none;
    width: 100%;
    height: 260px;
}

.static-banner-content h4 {
    margin-top: 20px;
}

/*Our team page*/
.team-intro{
    margin-top: 100px;
}

.teamprofile {
    margin-top: 10px;
    background-color: #0FC9F2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.teamprofile .team-cards .director-profile-1,.director-profile-2,.manager-profile-1,.manager-profile-2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.director-image-1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.director-image-2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.manager-image-1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.manager-image-2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*.teamprofile img:hover {
        transform: scale(1.5);
      }*/

/*Our Team Page*/
.team{
    padding-bottom: 50px;
}
.team-head {
    padding-top: 50px;
    padding-bottom:50px;
}
.team h2{
    text-align: center;
}
.team-member {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
}

.team-member .team-member-img {
    border-radius: 5px;
    overflow: hidden;
    
}

.team-member-img img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 5px;
    
}

.team-member .team-member-content {
    position: relative;
    width: 90%;
    padding: 20px;
    margin: -60px auto 0 auto;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.team-member .team-member-content {
    position: relative;
    width: 90%;
    padding: 5px;
    margin: -60px auto 0 auto;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 5px;
}

.team-member:hover .team-member-content {
    transform: rotateY(180deg);
}

.team-member .team-member-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    transform: rotateY(180deg);
}

/* Contact*/

/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #0FC9F2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #0FC9F2;
}

/* Add a background color and some padding around the form */

form {
    left: 0px;
    right: 0px;
}

.contact-information {
    margin-top: 10px;
}

.contact-us-banner-content img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    margin-top: 80px;
}

.contacts ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.contacts ul li a {
    color: black;
}

.contacts ul li i {
    color: #0FC9F2;
    margin-right: 20px;
    font-size: 25px;
}

.contact-us-intro ul li {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    list-style-type: none;
}

/* Responsive Rules */

@media screen and (max-width: 800px) {
    .social-a a {
        float: none;
    }
    .social-c a {
        float: none;
    }
}

@media screen and (max-width: 1430px) {
    .map {
        z-index: 100;
    }
}

@media screen and (max-width: 768px) {
    .map {
        z-index: 100;
        margin-bottom: 90px;
    }

    .carousel-item img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .carousel-caption p{
        font-size:12px;
        /*Alpha value has been used set to 70*/
    }
    
    .carousel-caption h1{
        font-size: 20px;
        
    }
}

@media screen and (max-width: 1000px) {

    .team-member-content h6 {
        font-size: 95%;
    }  
    
    .team-member-content p {
        font-size: 90%;
    } 
}



@media screen and (max-width: 850px) {
    .team{
        margin-bottom: 150px;
    }
}

@media screen and (max-width:1500px){
    body{
        font-size:85%;
    }
}

@media screen and (max-width:767px){
    .card-title,.card-text{
        text-align: center;
    }
}
