the following are the links for instagram accounts

https://www.instagram.com/invites/contact/?i=o3azx4evrc5v&utm_content=fvqtnkb   (silu company general and business)

https://www.instagram.com/invites/contact/?i=1go6ki7isnv7j&utm_content=hg9qrq0  (silu land consultancy)

https://www.instagram.com/invites/contact/?i=1kf02cxpbrmea&utm_content=kkkitwv   (silu agriculture consultancy)


projects done so far
1.
-we constructed our greenhouse and we use it for production of vegetables like tomatoes,we already had one first harvest season and now we are about to plant tomatoes again.

2.
-The second project which is now in progress in production of Chili pepper in Mgera irrigation scheme (iringa) about ten acres,we expect to start this month if things goes well